				@font-face {
					font-family: 'artdecomantarai-regu';
					src: url('/wp-content/uploads/useanyfont/4796Artdecomantarai-Regu.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/4796Artdecomantarai-Regu.woff') format('woff');
					  font-display: auto;
				}

				.artdecomantarai-regu{font-family: 'artdecomantarai-regu' !important;}

		